*{
    margin:0;
    padding:0;
    
}
content body {
    background-color:#EEEEEE;
    color:#fff;
    font:14px/1.3 Arial,sans-serif;
    
}
header {
    background-color:#d7e5f5;
    box-shadow: 0 -1px 2px #111111;
    display:block;
    height:60px;
    position:relative;
    width:100%;
    z-index:100;
}
header h2{
    font-size:18px
    font-weight:normal;
    left:0%;
    margin-left:10px;
    padding:0px 0;
    position:absolute;
    width:300px;
    border-top: 1px solid #abbbcc;
    border-left: 1px solid #a7b6c7;
    border-bottom: 1px solid #a1afbf;
    border-right: 1px solid #a7b6c7;
    border-radius: 12px;
     color: #1a3e66;
    font: normal 18px "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Geneva, Verdana, sans-serif;
    line-height: 1;
    margin-bottom: 0px;
    padding: 6px 0 7px 0;
    text-align: center;
    text-shadow: 0 1px 1px #fff;
   
}
h5
{
	text-align:center;
}
footer
{
	text-align:center;
	
}
header a.stuts,a.stuts:visited {
    border:none;
    text-decoration:none;
    color:#fcfcfc;
    font-size:14px;
    left:00%;
    line-height:10px;
    margin:2px 0 0 0;
    position:absolute;
    top:0;
}
header .stuts span {
    font-size:22px;
    font-weight:bold;
    margin-left:0px;
}

/* main styles */
.container {
    height: 360px;
    margin: 10px auto;
    position: relative;
    width: 900px;
}
#gmap_canvas {
    height: 300px;
    position: relative;
    width: 300px;
}

.button {
    background-color: #d7e5f5;
   border-top: 1px solid #abbbcc;
    border-left: 1px solid #a7b6c7;
    border-bottom: 1px solid #a1afbf;
    border-right: 1px solid #a7b6c7;
    border-radius: 12px;
    box-shadow: inset 0 1px 0 0 white;
    color: #1a3e66;
    font: normal 11px "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Geneva, Verdana, sans-serif;
    line-height: 1;
    margin-bottom: 5px;
    padding: 6px 0 7px 0;
    text-align: center;
    text-shadow: 0 1px 1px #fff;
    width: 300px;
}
