<head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>ajax example</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->

        <link rel="stylesheet" href="css/normalize.css">
        <link rel="stylesheet" href="css/main.css">
        <script src="js/vendor/modernizr-2.6.2.min.js"></script>
</head>
 <body>
        <!--[if lt IE 7]>
            <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->

        <!-- Add your site or application content here -->
        <p>Delivers location detector:</p>
        <input type="submit"  value="Start Detection" id="btnStart" onclick="startDetection()">
        <input type="submit"  value="Stop Detection" id="btnStop" onclick="stopDetection()">
   
        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.min.js"></script>
        <script>window.jQuery || document.write('<script src="js/vendor/jquery-1.10.1.min.js"><\/script>')</script>
        <script src="js/plugins.js"></script>
        <script src="js/main.js"></script>

        <!-- Google Analytics: change UA-XXXXX-X to be your site's ID. -->
        <script>
         var positionTimer;
         var url = "http://127.0.0.1:3000/setGeo.json?callback=?";
     //------------------------------------------------------------------------------------------
        function startDetection()
        {
        	alert("startDetection");
        	initLocationProcedure();
        	
        }
      //------------------------------------------------------------------------------------------
       //testing the support of geolocation
        function initLocationProcedure()
        {
           if (navigator.geolocation)
           {
              navigator.geolocation.getCurrentPosition(watchCurrentPosition, locError);
           } 
           else
           {
              alert("Your browser does not support the Geolocation API");
           }
        } 
     //------------------------------------------------------------------------------------------
        //executed when the location is found 
        function locSucces(position)
        {
           	latitude = position.coords.latitude;
  			longitude = position.coords.longitude;
 	     	//alert("Latitude : " + latitude + " Longitude: " + longitude);
		    //updating the server
			$.getJSON(url + "&lon=" + latitude + "&lan=" + longitude);
								    
    	}
      //------------------------------------------------------------------------------------------
    	//executed when the current position could not be located
        function locError(error) 
        {
           alert("The current position could not be found!");
        }
        
      //------------------------------------------------------------------------------------------
                   
        function watchCurrentPosition(position)
        {
 	        var options = { frequency: 500 };
 	         positionTimer = navigator.geolocation.watchPosition(locSucces,locError,options);
        }
        //----------------------------------------------------------------------------------------
         function stopDetection()
        {
        	alert("stopDetection");
        	navigator.geolocation.clearWatch(positionTimer); 
        	
        }
        </script>
    </body>
</html>